<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ced_LayBuy>
			<version>1.0.0</version>
			<author>ASHEESH SINGH (asheeshsingh@cedcoss.com)</author>
		</Ced_LayBuy>
	</modules>
	<admin>
		<routers>
            <laybuy>
                <use>admin</use>
                <args>
                    <module>Ced_LayBuy</module>
                    <frontName>laybuy</frontName>
                </args>
            </laybuy>
        </routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Ced_LayBuy>
					<files>
						<default>Ced_LayBuy.csv</default>
					</files>
				</Ced_LayBuy>
			</modules>
		</translate>
		<layout>
			<updates>
				<laybuy>
					<file>laybuy.xml</file>
				</laybuy>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
        <routers>
            <laybuy>
                <use>standard</use>
                <args>
                    <module>Ced_LayBuy</module>
                    <frontName>laybuy</frontName>
                </args>
            </laybuy>
        </routers>
		<layout>
			<updates>
				<laybuy>
					<file>laybuy.xml</file>
				</laybuy>
			</updates>
		</layout>
		<translate>
			<modules>
				<Ced_LayBuy>
					<files>
						<default>Ced_LayBuy.csv</default>
					</files>
				</Ced_LayBuy>
			</modules>
		</translate>
	</frontend>
	<global>
		<fieldsets>
    		<sales_convert_quote_payment>
    		 	<laybuy_init>
    		 		<to_order_payment>*</to_order_payment>
    		 	</laybuy_init>
    		 	<laybuy_months>
    		 		<to_order_payment>*</to_order_payment>
    		 	</laybuy_months>
    		</sales_convert_quote_payment>
    	</fieldsets>
		<models>
			<laybuy>
				<class>Ced_LayBuy_Model</class>
				<resourceModel>laybuy_mysql4</resourceModel>
			</laybuy>
			<laybuy_mysql4>
	            	<class>Ced_LayBuy_Model_Mysql4</class>
	            	<entities>
		                <report>
		                    <table>laybuy_transaction_report</table>
		                </report>
						<revise>
		                    <table>laybuy_revise_request_report</table>
		                </revise>
	            	</entities>
		    </laybuy_mysql4>
		</models>
		<resources>
			<laybuy_setup>
				<setup>
					<module>Ced_LayBuy</module>
					<class>Ced_LayBuy_Model_Mysql4_Setup</class>
				</setup>
			</laybuy_setup>
   		</resources>
		<helpers>
			<laybuy>
				<class>Ced_LayBuy_Helper</class>
			</laybuy>
		</helpers>
		<blocks>
			<laybuy>
				<class>Ced_LayBuy_Block</class>
			</laybuy>
		</blocks>
		<events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <laybuy_payment_info>
                        <type>model</type>
                        <class>laybuy/observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </laybuy_payment_info>
                </observers>
            </payment_info_block_prepare_specific_information>
			<order_cancel_after>
				<observers>
                    <laybuy_order_cancel>
                        <type>model</type>
                        <class>laybuy/observer</class>
                        <method>orderCancelAfter</method>
                    </laybuy_order_cancel>
                </observers>
			</order_cancel_after>
        </events>
	</global>
	<default>
		<payment>
			<laybuy>
				<model>laybuy/standard</model><!-- very important thing, here you select the model for your payment method -->
				<active>1</active>
				<order_status>pending</order_status>
				<title>Lay-Buy</title>
				<payment_action>sale</payment_action>
				<submit_url>http://lay-buys.com/gateway/</submit_url>
				<multipledesc>1</multipledesc>
				<desc>Description of products / services</desc>
				<mind>20%</mind>
				<maxd>50%</maxd>
				<months>3</months>
				<adminfee>0</adminfee>
				<ftp_ip>https://lay-buys.com/report/</ftp_ip>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
				<bypasslaybuy>1</bypasslaybuy>
				<cronenabled>0</cronenabled>
			</laybuy>
		</payment>
		<laybuy>
			<conditional_criteria>
				<total>0</total>
				<allowspecificcategory>0</allowspecificcategory>
				<allowspecificgroup>0</allowspecificgroup>
			</conditional_criteria>
            <fetch_reports>
                <schedule>1</schedule>
                <time>00,00,00</time>
            </fetch_reports>
        </laybuy>
	</default>
	<crontab>
        <jobs>
	    <LayBuy_Cron_Check>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>laybuy/Observer::checkCron</model>
					
                </run>
            </LayBuy_Cron_Check>
            <LayBuy_Automated_Fetch_Updates>
             <schedule>
             
				<config_path>crontab/jobs/LayBuy_Automated_Fetch_Updates/schedule/cron_expr</config_path>
                </schedule>
                <run>
                    <model>laybuy/Observer::fetchUpdates</model>
					
                </run>
            </LayBuy_Automated_Fetch_Updates>
        </jobs>
    </crontab>
</config>